
/*Global Styles*/ 
body {
   background-color: black;
   padding-bottom: 5px;
   border: 30px solid black;
}

img {
   Display: block;
   max-width: 100%;
   margin: 0 auto;
   border: 4px solid white;

}


/*Mobile Styles*/

#container {
   background-color: orange;
   margin: 10px;
   padding-top: 10px;
   border-bottom: 50px;
   margin-right: 20px;
   padding-bottom: 5px;
}

header img {
   width: 90%;
}

header {
   background-size: cover;
}

header h1 {
   color: white;
   text-shadow: 2px 2px 2px black(158, 150, 150);
   text-align: center;
   padding-left: 10px;
}

p {
   color: white;
}

nav ul {
   list-style-type: none;
   padding: 0;
}

nav li {
   display:block;
   align-content: center;
}

nav li a {
   display: block;
   background-color: white;
   color: orange;
   text-align: center;
   text-decoration: none;
   font-size: 1.2em;
   margin: 5px 5px;

}
nav li a:hover {
   text-shadow: 2px 2px 2px black;
}

   nav,.col, footer {
   background-color: orange;
   padding: 20px;
   margin: 10px;
   border: 4px solid white;
   text-align: center;
}


h1 {
   text-align: center;
   color: white;
   text-shadow: 2px 2px 2px rgb(158, 150, 150);
}

h2, h3 {
   color: white;
   text-shadow: 2px 2px 2px  black;
   font-size: 1.5em;
   text-align: center;
}


.button {
   display: block;
   background-color: white;
   color: white;
   height: 40px;
   width: 175px;
   line-height: 40px;
   text-align: center;
   text-decoration: none;
   font-size: 1em;
   margin: 10px auto;
}

.button:hover {
   background-color: rgb(255, 255, 255);
   text-shadow: 2px 2px 2px black;
}

footer {
   text-align: center;
   color: white;
   margin-top: 20px;
   margin-bottom: 5px;
   margin-right: 10px;
   font-size: 2em;
}

audio, video {
   display: block; 
   margin: 20px auto;
   width: 75%;
}

.section.single_col {
   width: 81%;
}

.gallery {
   border-radius: none;
}

.history img {
   width:fit-content
}

.p {
   text-align: center;
}

img {
   margin-bottom: 10px;
   width: 90%;
}

table {
   display: none;
   
}

section {
   align-content: center;
}
table {
   display: none;
}
/*Tablet Styles*/
 
@media(min-width: 768px) {
   #conatiner {
      width: 50%;
      margin-right: 20px;
      border: 4px white solid;
   }
   
   header {
       padding: 125px;
   }

   header h1 {
       font-size: 4em;
   }

   nav {
       text-align: center;
       padding: 5px;
   }

   nav li {
      display: inline-block;
      align-content: center;
   }

   nav li a {
       height: 50px;
       line-height: 50px;
       width: 200px;
   }

   audio, video {
      display: block; 
      margin: 20px auto;
      width: 95%;
      padding-left: 40px;
   }

   #upper_flex {
       display: flex;
   }
   
   section, aside {
       width: 50%;
   }

   aside img {
       width: 50%;
   }

   aside img {
      width: 100%;
   }

   .col img {
       width: 75%;
       border: 4px solid white;
   }  

   .single_col {
       width: 92%;
   }

   table {
      display: none;
   }
}


/*Desktop Styles*/

@media(min-width: 1024px) {
   #container {
      width: 60%;
      margin: auto;
      border: 10px solid white;
   } 

      header h1 {
         font-size: 4em;
         text-align: center;
         padding-top: 10px;
         margin: 0;
         }

      header img {
         display:inline-block;
         margin: 0;
         width: 1000%;
         }


      nav ul {
         list-style-type: none;
         padding: 0;
         align-content: flex-end;
         }
      
      nav li {
         align-content: center;
         } 
      
       nav li a {
         display: block;
         background-color: white;
         color: black;
         text-decoration: none;
         font-size: 1.2em;
         margin: 5px 5px;
         }
   
       .col {
         width: 100%;
         }

       .col img {
         width: 100%;
         border: none;
         object-fit: cover;
         }

       .single_col {
           width: 50%;
           }  

       h1 {
           text-align: center;
           color: white;
          }

       section, aside {
           width: 100%;
          }

        aside img {
          max-width:100%;
          height:auto;
          }

          audio, video {
            display: block; 
            margin: 20px auto;
            width: 95%;
            padding-left: 40px;
         }

         controls {
            width: 100%;
         }

.gallery {
   display: none;
}

footer {
   text-align: center;
   color: white;
   font-size: 2em;
   width: 93%;
   padding-right: 10px;
}

audio, video {
   display: block;
   margin: 20px auto;
   width: 75%;
}

}

   