
/*Global Styles*/ 
 body {
    background-color: black;
    padding: auto;
 }
 
 #container {
    background-color: rgb(255, 136, 0);
    width: 1000px;
    margin: 20px auto;
    text-align: center;
 }

 header img {
     display: block;
     width: 100%;
 }

 main img {
    display: block;
    width: 50%;
    margin: 20px auto;
    background-color: black;
    padding: 20px;
    border-radius: 0px;
 }

 main {
   padding: 20px;
   margin: 0 40px 40px 40px;
   text-align: center;
 }

 table img {
    display: inline block;
 }
/*Mobile Styles*/



/*Tablet Styles*/

@media(min-width: 768px) {

}

/*Desktop Styles*/

@media(min-width: 1024px) {
}



