
/*Global Styles*/ 
 body {
    background-color: white;
    padding: auto;
 }
 
 #container {
    background-color: rgb(255, 136, 0);
    width: 1000px;
    margin: 20px auto;
    text-align: center;
    border: solid 10px black;;
 }

 header img {
     display: center;
     width: 90%;
     padding: 50px;
     border: 4px white; 
   }

 main img {
    display: block;
    width: 50%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 0px;
 }

 main {
   padding: 20px;
   margin: 0 40px 40px 40px;
   text-align: center;
 }

 table img {
      display: inline-flex;
      border: 2px white;
 }

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }

 nav ul {
   list-style-type: none;
   padding: 0;
}

nav li {
   display: block;
}

nav li a {
   display: block;
   background-color: white;
   color: black;
   height: 40px;
   line-height: 40px;
   text-align: center;
   text-decoration: none;
   font-size: 1.2em;
   margin: 10px 0;
}

nav li a:hover {
   background-color: rgb(255, 255, 255);
   text-shadow: 2px 2px 2px black;
}
/*Mobile Styles*/





/*Tablet Styles*/

@media(min-width: 768px) {

}

/*Desktop Styles*/

@media(min-width: 1024px) {
   conatiner {
      width: 60%;
        margin:  auto;
        padding-bottom: 5px;
        } 

        header img {
            width: 90%;
            border: white;
        }

        header h1,h2,h3 {
            font-size: 3em;
        }

        header h3 {
           font-size: 2em;
           
        }

        #lower_flex {
            display: flex;
        }

        .col {
            width: 100%;
        }

        .col img {
            width: 50%;
        }

        .single_col {
            width: 100%;
        }  

        #upper_flex {
         display: inline-flex;
         width: 110%;

        }
        
   }  
     
      




